{% extends '../../common/admin_cards_container.html' %}

{% block top_left_nav %}
    <div>
        {{ admin_macros.admin_title(nav_tab.page_title) }}
    </div>
{% endblock %}

{% block top_right_nav %}
    {% if client.can_view_detailed_event_cards %}
        {% with id='show-details', name='show_details', show=show_details %}
            <div
                class="form-check form-switch d-inline-block pe-3"
                {{ macros.tooltip_attributes('info', _('Enable/disable the details on the cards below.'), 'top') }}
            >
                <input
                    hx-get="{{ url_for('admin-tab', admin_tab=admin_tab) }}"
                    hx-vals='{"{{ name }}": "{% if show %}false{% else %}true{% endif %}"}'
                    hx-target="body"
                    hx-indicator="#please-wait"
                    class="form-check-input"
                    type="checkbox"
                    id="{{ id }}"
                    {% if show %}checked{% endif %} /><label for="{{ id }}" class="form-check-label"> {{ _('Details') }}</label>
            </div>
        {% endwith %}
    {% endif %}
    {% if client.can_manage_events %}
        <div class="d-flex gap-2 ms-auto align-items-center">
            {% include 'create_event_button.html' %}
            {% with admin_tab=admin_tab %}
                {% include '/ticketchess_import_event_button.html' %}
            {% endwith %}
        </div>
        <script>
            preparePrintModal()
        </script>
    {%endif %}
{% endblock %}

{% block cards_container_cards %}
    <div class="row gy-2 gx-3">
        {% if nav_tab.events %}
            {% for event in nav_tab.events %}
                {% with
                    card_url=url_for('admin-event', event_uniq_id=event.uniq_id),
                    card_class='border-danger' if not event.public else '',
                    disabled=not event.are_all_plugins_enabled
                %}
                    {% include 'event_card.html' %}
                {% endwith %}
            {% endfor %}
        {% else %}
            <div class="col-12">
                {{ nav_tab.empty_str }}
            </div>
        {% endif %}
    </div>
{% endblock %}
