<div id="top-nav-wrapper">
    <div id="top-nav-content">
    </div>
</div>

<div id="home-content" class="content home-content">
    <div class="position-absolute end-0 top-0 mt-5 me-5">
        <div class="dropdown text-center">
            <i class="bi-translate pe-1"></i>
            <button class="btn btn-secondary dropdown-toggle mx-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img
                    src="{{locale_infos[locale].flag_url}}"
                    alt="{{locale_infos[locale].name}}"
                    class="locale-flag"
                />
                {{ locale_infos[locale].name }}
            </button>
            <ul class="dropdown-menu locale">
                {% for l, l_info in locale_infos.items() %}
                    {% if l != locale %}
                        <li
                            class="
                                dropdown-item
                                text-start
                                {% if l == locale %}fw-bold{% else %}cursor-pointer{% endif %}
                                "
                            hx-get="{{ url_for('index') }}"
                            hx-vals='{"locale": "{{ l }}"}'
                            hx-target="body"
                            hx-indicator="#please-wait"
                            hx-trigger="click, keyup[key=='Enter']"
                            tabindex="0"
                        >
                            <img
                                src="{{l_info.flag_url}}"
                                alt="{{l_info.name}}"
                                class="locale-flag"
                            />
                            {{ l_info.name }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="d-grid gap-2 col-auto mx-auto {% if client.account.administrator %}mt-5{% endif %}">
        <div style="width: 200px; max-width: 60vw; margin: 20px auto 20px;" class="text-primary">
            {{ svg_logo | safe }}
        </div>
        {% if client.can_manage_events %}
                {% with button_class='btn-lg' %}
            <div class="text-center my-3 d-flex flex-column gap-2 align-items-center">
                    {% include 'create_event_button.html' %}
                    {% with admin_tab='home' %}
                        {% include '/ticketchess_import_event_button.html' %}
                    {% endwith %}
                {% endwith %}
            </div>
        {% endif %}
    </div>
</div>

{% if not client.account.administrator %}
    {% if nav_tab.events|length > 0 %}
        <section class="p-4 my-4">
            <div class="container-fluid" style="--bs-gutter-x: 0;">
                <div class="row gy-2 gx-3 justify-content-center">
                    {% if nav_tab.events %}
                        {% for event in nav_tab.events %}
                            {% with
                                card_url=url_for('admin-event', event_uniq_id=event.uniq_id),
                                hide_public_status=True
                            %}
                                {% include 'event_card.html' %}
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}

    <div class="mx-auto text-center" style="max-width: 500px;">
        <h5 class="mt-2 mt-5">
            {% if nav_tab.events|length == 0 %} {{ _('No public events.') }} {% else %} {{ _("Can't see your event?") }} {% endif %}
        </h5>
        <p>
            {{ _('Only current and future events that have been declared as <b>public</b> by the administrator are visible via the network.') }}
        </p>
    </div>
{% endif %}
